<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <style>
        .container {
            text-align: center;
        }

        #logo {
            max-width: 10%;
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body x-data>

    <div class="container">
        <article>
            <img id="logo" alt="smile">
            <h3>נסה לא לצחוק</h3>
            <div id="joke"></div>
        </article>


        <button @click="getAsyncJoke">בדיחה חדשה</button>
    </div>
</body>

</html>